[Unit]
Description=Check CHIP THRONE API container health

[Timer]
OnBootSec=60s
OnUnitActiveSec=15s
AccuracySec=1s
Persistent=true
Unit=chipthrone-health-recovery.service

[Install]
WantedBy=timers.target
