[Unit]
Description=Check GHCR for a new CHIP THRONE API image

[Timer]
OnBootSec=60s
OnUnitInactiveSec=60s
AccuracySec=1s
Persistent=true
Unit=chipthrone-deploy.service

[Install]
WantedBy=timers.target
